* {
  box-sizing: border-box;
}

/*--- MAIN BODY STYLES ---*/

body {
  font-family: 'Lexend', sans-serif;
  font-size: 16px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.emphasized {
  font-weight: 600;
}

p {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

/*- nav bar -*/
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  color: rgb(221, 221, 221);
  background-color: rgb(56, 56, 56);
  z-index: 5;
  padding: 5px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 8px rgb(41, 41, 41);
}

.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px;
}

.title-container {
  font-size: 1.3rem;
  margin: 0 auto 0 0;
}

.small-caps {
  font-size: 1.2rem;
}

.nav-links-container {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-contact-links-container {
  margin: 0 0 0 auto;
  padding: 0 30px 0 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-contact-links-container li {
  display: list-item;
  flex: 1;
}

.nav-contact-link {
  display: inline-block;
  margin: 5px 7px;
  transition: color 500ms ease-in-out;
}

.nav-contact-link:hover {
  color: rgb(96, 156, 180);
}

/*- header intro -*/
header {
  position: relative;
  background-image: url('./images/mt_backdrop_mobile-crop.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 70px 0 0 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
}

.header-welcome-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 80%;
  padding: 20px 0;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 15px;
  box-shadow: 0 0 8px rgb(167, 167, 167);
}

header h1 {
  margin: 5%;
  font-size: 3.3rem;
}

header p {
  margin: 5%;
  font-size: 1.5rem;
}

/*- about me / project sections -*/
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 90px 5% 5% 5%;
}

section h2 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0 0 5px 0;
}

section p {
  font-size: 1.2rem;
  margin: 1%;
}

/*- about me section -*/
.about-section {
  background-color: rgb(68, 68, 68);
  color: rgb(221, 221, 221);
}

.about-container {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  padding: 5% 0;
}

.portrait-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 3;
}

.about-content {
  display: flex;
  flex-direction: column;
  flex: 5;
  margin: 6% 1%;
}

.portrait {
  width: 80%;
  max-width: 250px;
  border: solid 1px rgb(18, 104, 184);
  border-radius: 80%;
  box-shadow: 0 0 10px rgb(18, 104, 184);
}

.about-section p {
  font-weight: 300;
}

.about-content a {
  font-weight: 600;
  transition: color 500ms linear;
}

.about-content a:hover {
  color: rgb(109, 188, 219);
}

/*- projects section -*/
.projects-section {
  background-color: rgb(221, 221, 221);
  color: rgb(68, 68, 68);
}

.projects-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 3% 0;
  padding: 0;
}

.project-container {
  display: flex;
  flex-direction: column;
  margin: 0 0 8% 0;
  padding: 0 0 3% 0;
  background-color: rgb(201, 201, 201);
  border-radius: 6px;
  box-shadow: 0 0 8px grey;
}

.project-screenshot-container {
  margin: 0 2% 5% 2%;
  padding: 0;
}

.project-screenshot {
  width: 95%;
  border: solid 1px rgb(68, 68, 68);
  border-radius: 6px;
  box-shadow: 0 0 8px rgb(68, 68, 68);
}

.project-tech-list {
  list-style: none;
  margin: 0;
  padding: 0 5%;
}

.project-tech-list li {
  display: inline-block;
  font-size: 1.2rem;
  margin: 3px 5px;
}

.project-description {
  font-size: .8rem;
  margin: 2%;
}

.project-links-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 2%;
}

.project-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 3%;
  width: 80%;
  margin: 5px 0;
  font-size: 1.3rem;
  color: rgb(221, 221, 221);
  background-color: rgb(56, 56, 56);
  border-radius: 6px;
  box-shadow: 0 0 8px rgb(83, 83, 83);
  transition-property: background-color, box-shadow, color;
  transition-duration: 400ms;
  transition-timing-function: linear;
}

.project-button:hover {
  background-color: rgb(90, 90, 90);
  box-shadow: 0 0 12px rgb(53, 53, 53);
  color: rgb(96, 156, 180);
}

.projects-section h3 {
  font-size: 2rem;
}

.project-sections p {
  font-weight: 400;
}


/*- footer section -*/
footer {
  width: 100%;
  color: rgb(221, 221, 221);
  background-color: rgb(56, 56, 56);
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 8px rgb(41, 41, 41);
}

.footer-contacts-list {
  font-size: 1.5rem;
  margin: 10px 0;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.footer-contacts-list li {
  display: list-item;
  width: 35%;
}

.footer-contact-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px 15px;
  transition: color 500ms ease-in-out;
}

.footer-contact-link:hover {
  color: rgb(96, 156, 180);
}

.footer-link-label {
  font-size: 1rem;
  margin: 5px 0;
  
}

/*-- HAMBURGER MENU --*/
.burger-wrapper {
  position: fixed;
  top: 8px;
  right: 6px;
  z-index: 4;
}

.burger-wrapper .toggler {
  position: absolute;
  top: 8px;
  right: 6px;
  z-index: 5;
  cursor: pointer;
  width: 25px;
  height: 25px;
  opacity: 0;
}

.burger {
  position: absolute;
  top: 8px;
  right: 6px;
  z-index: 4;
  width: 25px;
  height: 25px;
  background:rgb(56, 56, 56);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 400ms ease;
}

/*- burger layers -*/
.burger > div {
  position: relative; 
  width: 100%;
  height: 2px;
  background-color: rgb(221, 221, 221);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 400ms ease;
}

.burger > div:before,
.burger > div:after {
  content: '';
  position: absolute;
  z-index: 4;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

.burger > div:after {
  top: 10px;
}

.toggler:hover + .burger > div {
  background-color: rgb(96, 156, 180);
}

/*- burger animation -*/
.toggler:checked + .burger {
  background-color: rgb(54, 54, 54);
}

.toggler:checked + .burger > div {
  transform: rotate(135deg);
}

.toggler:checked + .burger > div:before,
.toggler:checked + .burger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/*- nav menu -*/
.nav-menu {
  position: fixed;
  top: 0;
  right: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 90px 30px 60px;
  border-radius: 6px;
  background-color: rgb(54, 54, 54);
  box-shadow: 0 0 10px rgb(65, 65, 65);
  font-size: 1.5rem;
  transform: scaleY(0);
  transform-origin: top;
  transition: all 400ms ease;
}

.nav-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 3rem;
}

.nav-menu > ul > li > a:hover {
  transition: color 600ms ease;
  color: rgb(96, 156, 180);
}

.toggler:checked + .burger > div:before,
.toggler:checked ~ .nav-menu {
  transform: scaleY(1);
}

/*--- defining pseudo-classes ---*/

body a { text-decoration: none;}
body a:link    { color: rgb(221, 221, 221);}
body a:visited { color: rgb(221, 221, 221);}
body a:active  { color: rgb(221, 221, 221);}


/*-- Responsive formatting --*/

@media all and (min-width: 345px) {

  .title-container {
    font-size: 1.6rem;
  }

  .nav-links-container {
    font-size: 1.4rem;
  }

  .nav-contact-links-container {
    padding: 0 50px 0 0;
  }

  .burger-wrapper {
    right: 12px;
  }
  
  .burger-wrapper .toggler {
    right: 12px;
  }
  
  .burger {
    right: 12px;
  }

}

@media all and (min-width: 450px) {

  nav {
    padding: 10px 30px;
  }

  .nav-contact-links-container {
    padding: 0 70px 0 0;
  }

  .about-container {
    padding: 5% 2%;
  }

  .about-content {
    margin: 3%;
  }

  .projects-section-container {
    margin: 3%;
    padding: 0 3%;
  }

  .project-container {
    margin: 0 4% 4% 4%;
    padding: 0 0 3% 0;
  }

  .project-tech-list li {
    font-size: 1.2rem;
    margin: 5px 15px;
  }

  .project-description p {
    font-size: 1rem;
  }

  .project-links-container {
    flex-direction: row;
  }

  .project-button {
    padding: 3%;
    width: 25%;
  }

  .footer-contacts-list {
    margin: 20px 0;
  }

  .footer-contact-link {
    margin: 5px 25px;
    flex-direction: row;
  }

  .footer-link-label {
    margin-left: 10px;
  }
  
}

@media all and (min-width: 700px) {
  nav {
    height: 70px;
    padding: 10px 50px;
  }

  .title-container {
    font-size: 2.2rem;
  }

  .small-caps {
    font-size: 1.9rem;
  }

  .nav-links-container {
    font-size: 2rem;
  }

  .nav-contact-links-container {
    padding: 0 70px 0 0;
  }

  .nav-contact-link {
    margin: 5px 15px;
  }

  header {
    background-image: url('./images/mt_backdrop.jpg');
    background-attachment: fixed;
  }

  .header-welcome-message {
    width: 50%;
    height: 50%;
  }

  .project-screenshot-container {
    margin: 0 50px 30px 50px;
    padding: 0 50px;
  }

  .footer-contacts-list {
    font-size: 2rem;
  }

  .footer-link-label {
    font-size: 1.4rem;
  }

  .burger-wrapper {
    top: 8px;
    right: 18px;
  }
  
  .burger-wrapper .toggler {
    top: 8px;
    right: 18px;
    width: 40px;
    height: 40px;
  }
  
  .burger {
    top: 8px;
    right: 18px;
    width: 40px;
    height: 40px;
  }

}

@media all and (min-width: 1024px) {
  .about-container {
    flex-direction: row;
  }

  .portrait {
    max-width: 350px;
  }
}